* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    margin: auto;
    text-align: center;
    width: 600px;
    font-size: 30px;
}

.container-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 30px;
}

.pass {
    border: 1px solid rgba(168, 168, 168, 0.346);
}

i {
    color: black;
    position: absolute;
    padding-top: 15px;

}

i:hover {
    color: gray;
}

#pw {
    width: 550px;
    border: none;
    outline: none;
}

#cf-pw {
    width: 550px;
    border: none;
    outline: none;
}

.div-class {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

input {
    padding: 15px;
    font-size: 25px;
    border-radius: 5px;
    border-color: rgba(168, 168, 168, 0.346);
}

#btn {
    padding: 15px;
    margin-top: 20px;
    font-size: 35px;
    border-radius: 10px;
    color: white;
    background-color: rgb(32, 95, 255);
    border: none;
}